<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/aleksander/IdeaProjects/5G_Auktion/src/test/java/TestPage.java">
        <classes>
            <class name="TestPage">
            </class>
            <class name="FileDownloaderTest">
            </class>
        </classes>
    </test>
</suite>